.awardText {
  color: #7ac242 !important;
  font-size: 30px !important;
  text-align: left;
  margin: 60px 0 40px 80px;
}
.accordion {
  background-color: #f1fbe9;
  margin: 3%;
  border: none;
  font-family: "Roboto", sans-serif;
}
.title {
  font-weight: bold;
  font-size: 1.5em;
  color: #575757;
  text-align: left;
  margin-left: 5%;
}
li {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #575757;
  margin-left: 5%;
  line-height: 40px;
}

@media screen and (min-width: 250px) {
  .awardText {
    margin: 50px 0 40px 20px;
  }
}

@media screen and (min-width: 600px) {
  .awardText {
    margin: 60px 0 40px 80px;
  }
}
